* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
}

/* Background Image */
.background {
  background-image: url('password.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/* Card Style */
.card {
  width: 350px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.card h2 {
  margin-bottom: 20px;
}

.card label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.card input[type="number"] {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

#result {
  margin-top: 15px;
  font-weight: bold;
  color: #0f172a;
}
